:root {
    --omnia-red: #8B2323;
    --vibrant-red: #D12828;
    --vibrant-blue: #2860d1;
    --black: #000000;
    --white: #FFFFFF;
    --vibrant-green: #28d12e;
    --vibrant-orange: #d18228;
    --vibrant-pink: #d128cb;
    --dark-grey: #565656;
}

html {
    font-family: 'Outfit', sans-serif;
}

body {
    margin: 12px;
}

.header-icon {
    height: 80px;
}

h1 {
    margin: 0;
}

h2 {
    font-size: 24px;
    margin: 8px 0;
}

div {
    user-select: none;
}